@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Water+Brush&display=swap');

body{
	background: linear-gradient(45deg,#595251,#e6dcd7,#8d7e78,#595251,#7a5e58,#c3ab9d,#95a19b,#9e9394);
}

.title	{
	font-family: Quicksand;
	text-align: center;
	font-size: 80px;
}

.container {
	width: 100%;
	height: auto;
	margin: 30px;
	display: inline-block;
}

h3	{
	font-family: Quicksand;
	font-size: 25px;
}

h4{
	font-family: Quicksand;
	font-size: 18px;
}

p	{
	line-height: 30px;
}
