@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Water+Brush&display=swap');

body {
	background-color: #ffc07d;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 2px 2px 2px 2px;
}

header {
	font-family: Quicksand;
	text-align:	center;
	font-size: 60px;
	margin: 10px 0px 10px 0px;
}

h1,
h2,
h3	{
	font-family: Quicksand;
	font-size: 25px;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

nav a {
	background-color: #ff9d85;
	color: black;
	font-size: 25px;
	font-family: Quicksand;
	font-weight: bold;
	text-align:	center;
	text-decoration: none;
	margin: 0 0 10px 0;
	display: block;
	padding: 15px 25px;
	width:22.35%;
}

.center {
	background-color: #ffad8a;
	display: block;
	margin: 20px 600px 200px 600px;
	border-radius: 10px 10px 10px 10px;
	padding: 80px 80px 80px 80px;
	overflow: hidden;
	
}

.button {
	text-decoration: none;
	padding: 5px;
	color: black;
	border-radius: 30px;
	overflow: hidden;
	background-color: #eb8e46;
	font-family: Quicksand;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-right: 1715px;
}
